/* Categories Container */
.categories-container {
  width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.title{
  margin: 20px auto 20px auto;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  color: #000000;
  position: relative;
}

.title_bottom{
  margin-top: 20px;
}

.floating-peanut {
  width: 150px;
  height: auto;
  position: absolute;
  left: 85%;
  bottom: -65px;
  animation: floatBurger 3s ease-in-out infinite;
}

/* Category Navigation */
.category-nav {
  width: min-content;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: auto auto 20px auto ;
  border-radius: 10px;
  background-color: #00b3ef74;
 }

.category-button {
  background: none;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

.category-button:hover{
  color: #eb0000;
  font-weight: bold;
}


.category-button.selected {
  border-bottom: #eb0000 solid;
  color: #eb0000;
  font-weight: bold;
}

/* Menu Items Grid */
.menu-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 10%; */
  column-gap: 20%;
}

/* Menu Item */
.menu-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.menu-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.menu-info {
  flex-grow: 1;
}

.menu-info h3 {
  font-size: 18px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.menu-info p {
  font-size: 15px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  font-size: 16px;
}

/* Responsive */
@media (max-width: 768px) {
  .menu-items {
    grid-template-columns: 1fr;
  }

  .category-nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .category-button {
    padding: 8px 15px;
    font-size: 14px;
  }
}
