/* Full-Screen Snap Section */
.hero-page {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  padding-top: 20px;
  background-color: #027033;
  overflow-x: hidden;
}

.section_title{
  color: white;
}
.city-heading{
  position: relative;
}

.floating-burger4 {
  width: 150px;
  height: auto;
  position: absolute;
  left: 80%;
  bottom: 5px;
  animation: floatBurger 3s ease-in-out infinite;
}
/* Product Animation */
.product {
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
  background-color: none;
  padding: 20px;
  /* border-radius: 8px; */
  will-change: transform;
  margin-bottom: 0px;
  color: white;
  width: 100%;
}

.product.from-left {
  transform: translateX(-100px);
  background: linear-gradient(to left, #027033, #024621);
}

.product.from-right {
  transform: translateX(100px);
  text-align: right;
  background: linear-gradient(to right, #027033, #024621);
}

.product.scroll-active {
  opacity: 1;
  transform: translateX(0);
}

.product.scroll-out.from-left {
  transform: translateX(-100px);
}

.product.scroll-out.from-right {
  transform: translateX(100px);
}

/* Flexbox layout for image and text */
.prod-information {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product-description{
  max-width: 750px;
  /* text-align: justify; */
}

.align-left {
  flex-direction: row;
}

.align-right {
  flex-direction: row-reverse;
  text-align: right;
}

/* Image styling */
.product-image {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
