.food-order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-color: #fff;
  flex-wrap: wrap;
}

.food-step {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
}

.middle-step {
  margin-top: 50px;
}

.step-image {
  width: 300px;
  height: auto;
  margin-bottom: 1rem;
}

.step-text h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.step-text p {
  font-size: 1rem;
  color: #666;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .food-order-container {
      flex-direction: column;
  }

  .food-step {
      max-width: 100%;
  }

 
}
