/* General Styles */

.recipe-container {
  text-align: center;
}

/* Title */
.recipe-header h1 {
  margin: 20px auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  color: #333;
}

.recipe-header p {
  max-width: 1000px;
  margin: 12px auto;
  font-size: 1.1rem;
  color: #555;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
}

.title_bottom {
  width: 100px;
  display: block;
  margin: 10px auto;
}

/* Recipe Card */
.recipe-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 20px auto;
  transition: transform 0.3s ease-in-out;
  background: #fff;
  /* box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); */
}

/* Image (Left) */
.recipe-image img {
  width: 280px;
  height: 200px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  border-radius: 10px;
}

/* Recipe Content (Center) */
.recipe-content {
  text-align: center;
  flex: 1;
  padding: 15px;
  background: white;
  border-radius: 8px;
 
}

.recipe-content h3 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #ed2124;
  margin-bottom: 8px;
}

.recipe-content p {
  font-size: 1rem;
  color: #333;
  text-align: left;
  line-height: 1.4;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* Arrow Button (Right) */
.recipe-arrow {
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}

.recipe-arrow:hover {
  transform: scale(1.2);
}

/* Responsive */
@media (max-width: 768px) {
  .recipe-card {
    flex-direction: column;
    text-align: center;
    max-width: 90%;
  }

  .recipe-image {
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .recipe-content {
    width: 100%;
  }
}